<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <% for(var key in product){ %>
        <%= key %>:<%= product[key] %><br>
    <% } %> -->
    <form action="/update" method="post">
        <input type="hidden" name="id" value="<%= product._id %>">
        商品编号: <%= product.pid %> <br><br>
        商品名称: <%= product.pname %> <br><br>
        商品价格: <input type="text" name="price" value="<%= product.price %>"><br><br>
        商品数量: <input type="text" name="count" value="<%= product.count %>"><br><br>
        <input type="submit" value="确定修改">
    </form>
</body>
</html>